.container{
  color:solid black;
  height:400px;
  width:800px;
  border:solid black;
}
.saffron{
  color:saffron;
  height:133.33px;
  width:800px;
  background-color:orange;
}
.white{
  color:saffron;
  height:133.33px;
  width:800px;
  background-color:white;
}

.chakra{
  color:saffron;
  height:133.33px;
  width:133.33px;
  background-color:blue;
  border-radius: 1000px;
    margin-left:350px;
}
.green{
  color:saffron;
  height:133.33px;
  width:800px;
  background-color:green;
  /**/
}
